# API
ENVIRONMENT=local
PORT=4000
LOG_LEVEL=info

# Database
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
DATABASE_URL="postgresql://${DB_USERNAME}:${DB_PASSWORD}@localhost:5432/${DB_NAME}?schema=public"

# Google Sign In
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# OpenAI API
OPENAI_API_KEY=
OPENAI_ORGANIZATION_ID=
OPENAI_PROJECT_ID=
OPENAI_MODEL=gpt-3.5-turbo

# AWS Cloudwatch Logs API (Optional)
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1
AWS_CLOUDWATCH_LOG_GROUP_NAME=
AWS_CLOUDWATCH_LOG_STREAM_NAME=